---
import Base from "../components/base.astro";
import NavPage from "../components/nav-page.astro";
import ContentFooter from "../components/content-footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<Base title={title} description={description}>
	<NavPage>
		<article>
			{
				heroImage && (
					<img class="hero" width={720} height={360} src={heroImage} alt="" />
				)
			}

			<header>
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{
					updatedDate && (
						<p>
							Last updated: <time>{updatedDate}</time>
						</p>
					)
				}
			</header>
			<div class="copy">
				<slot />
			</div>
			<ContentFooter />
		</article>
	</NavPage>
</Base>

<style>
	article {
		display: grid;
		grid-template-rows: auto 1fr auto;

		height: 100%;
		background-color: var(--colour-content-bg);
		color: var(--colour-content-text);
	}

	.hero {
		display: block;
		width: 100%;
		max-height: 360px;
		object-fit: contain;
	}

	header {
		padding: var(--step-0);

		& p {
			margin: 0;
			font-size: var(--step--1);
		}
	}

	.title {
		font-size: 2em;
	}
	hr {
		margin: 0;
	}

	.copy {
		padding: var(--step-2) var(--step-1);
		background-color: var(--nord-light-1);
	}
</style>
