---
import BaseHead from "../components/base-head.astro";
import SiteHeader from "../components/site-header.astro";
import SiteNav from "../components/site-nav.astro";
import ContentFooter from "../components/content-footer.astro";
import Base from "./base.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<Base>
  <BaseHead title={title} description={description} slot="meta" />
  <div class="layout">
    <div class="header">
      <SiteHeader title={title} />
    </div>
    <article class="content">
      {
        heroImage && (
          <img
            class="content__hero"
            width={720}
            height={360}
            src={heroImage}
            alt=""
          />
        )
      }
      <header class="content__header">
        <h1 class="title">{title}</h1>
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <p>
              Last updated on <time>{updatedDate}</time>
            </p>
          )
        }
      </header>
      <hr />
      <div class="copy">
        <slot />
      </div>
      <ContentFooter />
    </article>
    <nav>
      <SiteNav />
    </nav>
  </div>
</Base>

<style>
  .layout {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 0;
    grid-template-areas:
      "header  header"
      "content nav";

    overflow: hidden;
    height: 100vh;
    height: 100svh;
    max-width: calc(2200px - 2rem);
    margin: auto;

    & .header {
      grid-area: header;
    }

    & .content {
      grid-area: content;
    }
    & nav {
      grid-area: nav;
    }

    @media (--mq-medium) {
      grid-template-areas:
        "header  header  header"
        ".       content nav";
      grid-template-columns: 1fr var(--content-width) var(--nav-width);
    }

    @media (--mq-large) {
      grid-template-columns: 1fr var(--content-width) 1fr;
    }
  }

  .content {
    overflow-y: auto;
    height: 100%;
    max-height: 100%;
    background: var(--gray-1);
  }

  .content__hero {
    display: block;
    width: 100%;
    max-height: 360px;
    object-fit: contain;
  }

  .content__header {
    padding: var(--step-0);

    & p {
      margin: 0;
      font-size: var(--step--1);
    }
  }

  .title {
    font-size: 2em;
    margin: 0;
  }
  hr {
    margin: 0;
    border-top: 1px solid var(--gray-4);
  }

  .copy {
    padding: var(--step-2) var(--step-3);
  }

  nav {
    /* background-color: var(--bg-transparent-dark); */
  }
</style>
